In [2]:
#import libraries
import pandas as pd

In [6]:
teams = pd.read_csv("teams.csv")
print(teams.head(5))

  team      country  year  events  athletes   age  height  weight  medals  \
0  AFG  Afghanistan  1964       8         8  22.0   161.0    64.2       0
1  AFG  Afghanistan  1968       5         5  23.2   170.2    70.0       0
2  AFG  Afghanistan  1972       8         8  29.0   168.3    63.8       0
3  AFG  Afghanistan  1980      11        11  23.6   168.4    63.2       0
4  AFG  Afghanistan  2004       5         5  18.6   170.8    64.8       0

   prev_medals  prev_3_medals
0          0.0            0.0
1          0.0            0.0
2          0.0            0.0
3          0.0            0.0
4          0.0            0.0

In [7]:
teams

,team,country,year,events,athletes,age,height,weight,medals,prev_medals,prev_3_medals
0,AFG,Afghanistan,1964,8,8,22.0,161.0,64.2,0,0.0,0.0
1,AFG,Afghanistan,1968,5,5,23.2,170.2,70.0,0,0.0,0.0
2,AFG,Afghanistan,1972,8,8,29.0,168.3,63.8,0,0.0,0.0
3,AFG,Afghanistan,1980,11,11,23.6,168.4,63.2,0,0.0,0.0
4,AFG,Afghanistan,2004,5,5,18.6,170.8,64.8,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2139,ZIM,Zimbabwe,2000,19,26,25.0,179.0,71.1,0,0.0,0.0
2140,ZIM,Zimbabwe,2004,11,14,25.1,177.8,70.5,3,0.0,0.0
2141,ZIM,Zimbabwe,2008,15,16,26.1,171.9,63.7,4,3.0,1.0
2142,ZIM,Zimbabwe,2012,8,9,27.3,174.4,65.2,0,4.0,2.3
2143,ZIM,Zimbabwe,2016,13,31,27.5,167.8,62.2,0,0.0,2.3

In [8]:
print(teams.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2144 entries, 0 to 2143
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   team           2144 non-null   object
 1   country        2144 non-null   object
 2   year           2144 non-null   int64
 3   events         2144 non-null   int64
 4   athletes       2144 non-null   int64
 5   age            2144 non-null   float64
 6   height         2144 non-null   float64
 7   weight         2144 non-null   float64
 8   medals         2144 non-null   int64
 9   prev_medals    2014 non-null   float64
 10  prev_3_medals  2014 non-null   float64
dtypes: float64(5), int64(4), object(2)
memory usage: 184.4+ KB
None

In [10]:
#selcted columns wanted and save it as teams df
teams = teams[["team","country","year","athletes","age","prev_medals","medals"]]

In [11]:
teams

     team      country  year  athletes   age  prev_medals  medals
0     AFG  Afghanistan  1964         8  22.0          0.0       0
1     AFG  Afghanistan  1968         5  23.2          0.0       0
2     AFG  Afghanistan  1972         8  29.0          0.0       0
3     AFG  Afghanistan  1980        11  23.6          0.0       0
4     AFG  Afghanistan  2004         5  18.6          0.0       0
...   ...          ...   ...       ...   ...          ...     ...
2139  ZIM     Zimbabwe  2000        26  25.0          0.0       0
2140  ZIM     Zimbabwe  2004        14  25.1          0.0       3
2141  ZIM     Zimbabwe  2008        16  26.1          3.0       4
2142  ZIM     Zimbabwe  2012         9  27.3          4.0       0
2143  ZIM     Zimbabwe  2016        31  27.5          0.0       0

[2144 rows x 7 columns]

In [13]:
#check wether predictions possible between medals column compared with other columns on data
teams.corr()["medals"]

/var/folders/yd/yct4r0zs52s19qtz96_4r0j80000gn/T/ipykernel_12531/3426646509.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  teams.corr()["medals"]

year          -0.021603
athletes       0.840817
age            0.025096
prev_medals    0.920048
medals         1.000000
Name: medals, dtype: float64